Scrapy==0.24.2
Twisted==14.0.0
bleach==1.4
cffi==0.8.6
cryptography==0.5.2
cssselect==0.9.1
html5lib==0.999
lxml==3.3.5
pyOpenSSL==17.5.0
pycparser==2.10
queuelib==1.1.1
six==1.7.3
w3lib==1.6
zope.interface==4.1.1
